# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!jge/JGE/lib/psp/libhgetools.a
!jge/JGE/lib/psp/libjge300.a
!jge/JGE/lib/psp/libjinput.a

# Executables
*.exe
*.out
*.app

# Other
Thumbs.db

# Context import
COPILOT_CONTEXT_EXPORT_2026-09-14.md